<!-- <md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav class="sidenav">
    Jolly good!
  </md-sidenav>

  <div class="example-sidenav-content">
    <button type="button" md-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</md-sidenav-container> -->
<md-sidenav-container>
    <md-sidenav #sidenav>
        <ul class="side-nav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="images/office.jpg">
                    </div>
                    <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
                    <a href="#!name"><span class="white-text name">John Doe</span></a>
                    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div>
            </li>
            <li><a href=""><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>
    </md-sidenav>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a class="left"  md-button (click)="sidenav.open()">
                <i class="medium material-icons ">menu</i> 
            </a>
            <ul class="right">
              <li><a href="sass.html">Sass</a></li>
              <li><a href="badges.html">Components</a></li>
            </ul>
          </div>
        </nav>
    </div>
</md-sidenav-container>