<section class="dark">
    <div class="container">
        <div class="row center">
            <h3>
                Buy our products
            </h3>
            <p>
                In leo nibh, gravida quis sodales in, aliquam in metus. Fusce vestibulum ante sit amet faucibus rhoncus. Aenean mauris metus, mollis id rhoncus id, tempus vel ipsum. Ut eu porttitor neque. Quisque auctor velit et lectus ornare ullamcorper. Curabitur placerat volutpat metus ac consectetur. 
            </p>
            <p class="hide-on-small-only">
                Donec et ex vel est aliquet porta. Maecenas dignissim laoreet faucibus. Curabitur efficitur ante et purus posuere, in dapibus libero blandit. Cras volutpat dapibus neque, vel elementum neque elementum et. Integer libero mi, fringilla nec varius vel, vestibulum pulvinar urna. Nulla a tincidunt dui, id mollis eros. Donec mattis turpis id tempus egestas.
            </p>
        </div>
    </div>
</section>
<mz-parallax [height]="300">
  <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Electric_guitar_%28477100921%29.jpg">
  
</mz-parallax>
<section class="dark">
    <div class="container">
        <div class="row">
            <h3>
                Our products
            </h3>
            <div class="col s12 m4 l4" *ngFor="let item of items">
              <div class="card hoverable">
                <div class="card-image">
                  <img src="{{item.imgSrc}}">
                  <span class="card-title">{{item.title}}</span>
                </div>
                <div class="card-content">
                  <p>{{item.desc}}</p>
                </div>
                <div class="card-action">
                  <a routerLink="{{item.link}}">This is a link</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<mz-parallax [height]="300">
  <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Electric_guitar_%28477100921%29.jpg">
  
</mz-parallax>

